*{
    margin : 0px;
    padding: 0px;
}

#navbar{
    height: 86px;
    width: 100vw;
    position: fixed;
    top: 0px;
    display:  grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    border-bottom: 1px solid lightgray;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#logo-img{
    height: 30px;
}

#input-container{
    position: relative;
}

#input-bar{
    width: 100%;
    height: 40px;
    background-color: #F8F8F8;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
}
#search-icon{
    position: absolute;
    left: 10px;
    top: 13px;
}

#login-btn{
    height: 52px;
    width: 112px;
    border : none;
    border: 30px;
}

#cart-btn{
    height: 52px;
    width: 112px;
    border : none;
    background-color: rgb(16, 226, 16);
    border: 50px;
    color: white;
}