/* #one{
    display: none;
    visibility: hidden;
}
 */

 *{
    margin: 0px;
    padding: 0px;
 }

 #navbar{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
 }

 #anchors{
    display: flex;
    gap: 20px;
    align-items: center;
 }

.atags{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


#parent{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: 5px solid red; */
    gap: 15px;
    margin-top: 40px;
}

.cards{
    height: 250px;
    /* width: 200px; */
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
}

#kb{
    display: none;
}



@media (max-width : 900px){
    #parent{
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 10px;
    }


}

@media(max-width : 800px){
    #parent{
        grid-template-columns: 1fr 1fr;
        border-radius: 5px;
    }
}

@media(max-width : 600px){
    #parent{
        display: flex;
        flex-direction: column;
    }

    #search-bar{
        display: none;
    }

    #anchors{
        display: none;
    }
    #navbar{
        padding: 10px 0px 10px 0px;
        justify-content: center;
        position: fixed;
        top: 0px;
        width: 100vw;
    }

    .cards{
        font-size: 32px;
    }

    #kb{
        display: block;
        position: absolute;
        right: 10px;
    }
}

