*{
    margin: 0px;
    padding: 0px;
}

#container{
    display: flex;
    width: 100vw;
    background-color: #FFF7CD;
}

#music-player-container{
    height: 100vh;
    /* border: 1px solid black; */
    width: 80vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#collapse-expand{
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 50px;
    padding: 10px;

}

#collapse-expand:hover{
    background-color: yellow;
    cursor : pointer;
}


#songs-list-container{

    padding: 30px;
    height: 100vh;
    /* border: 1px solid black; */
    width: 20vw;
    background-color: #FDC3A1;

    h3{
        font-size: 50px;
    }

    #songs-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
    }
}


#music-player{
    height: 50vh;
    width: 25vw;
    background-color: lightgray;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
}


.songItem{
    padding: 5px;
}

.songItem:hover{
    background-color : #FFF7CD;
    cursor: pointer;
}