/* *{
    margin: 0px;
    padding: 0px;
}

div{
    border: 1px solid black;
}


#one{
    background-color: pink;
}


.same{
    padding: 30px;
    border: 1px solid black;
    padding: 20px 15px 10px 5px;
}


#special{
    background-color: red;
}



#dabba{
    background-color: green;

}

.box{
    background-color: red !important;
} */

/* div{
    background-color: pink !important;
} */

*{
    margin: 0px;
}


/* #box{ */
    /* border: 1px solid black; */
    /* height: 200px; */
    /* width: 200px; */
    /* width: 200cm; */
    /* width: 200in; */
    /* width: 20vw;
    height: 50vh;
} */


/* body{
    height: 100vh;
} */

/* 
#box2{
    border: 1px solid black;
    height: 50%;
    width: 50%;
} */

/* div{
    border: 1px solid black;
} */

/* #outer{
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

#middle{
    height: 50%;
    width: 50%;
    border: 1px solid black;

}

#inner{
    height: 50%;
    width: 50%;
    border: 1px solid black;

} */

/* #rem{
    font-size: 2rem;
    font-size: 1.2rem;
} */

#outer{
    font-size: 20px;
}

#middle{
    font-size: 2em;
}

#inner{
    font-size: 2.5em;
}

#one{
    font-size: 1.2em;
}


#two{
    font-size: 1.2rem;
}