#dabba{
    height: 150px;
    width: 150px;
    background-color: red;
    position: relative;
    animation-duration: 4s;
    animation-name: naam;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes naam{
    0%{
        top: 0px;
        left : 0px
    }

    25%{
        top: 0px;
        left : 500px;
        background-color: pink;
    }

    50%{
        left: 500px;
        top: 500px;
        background-color: greenyellow;
    }

    75%{
        top: 500px;
        left: 0px;
        background-color: aquamarine;
    }

    100%{
        top: 0px;
        left: 0px;
        background-color: red;
    }
}