/* div{
    background-color: yellow;
} */

/* div.a{
    background-color: aqua;
} */

/* h1{
    background-color: red;
}

h2{
    background-color: red;
}

div{
    background-color: red;
} */



/* h1, h2, div{
    background-color: red;
} */


/* div p{
    border: 1px solid black;
}

div > p{
    background-color: red;
} */


/* div + p {
    background-color: pink;
} */


/* div ~ p{
    background-color: pur;
} */


/* a:hover{
    background-color: aliceblue;
}

a:active{
    background-color: pink;
}

#ok{
    height: 200px;
    width: 200px;
    background-color: red;
}


/* input:focus{
    background-color: lightblue;
    outline: none;
    border: none;
} */

/* p{
    background-color: pink;
    display: none;
} */




/* div:hover p{
    display: block;
} */

/* #icon{
    font-size: 40px;
}

#icon:hover + p{
    display: block;
} */


p:last-child{
    background-color: red;
}

p:first-child{
    background-color: yellow;
}

p:nth-child(4){
    background-color: green;
}

q:lang(no){
    quotes: "4" "10";
}